<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank you!</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/nurturepopper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style-mobile.css" media="screen and (orientation: portrait)">
</head>

<body>
    <div class="book-appoint">
        <div class="spaciousText">Donate for Good</div>
        <div class="book-appt-container">
            <img src="/static/images/book.png" alt="">
            <div class="card book-appt-content donate-card">
                <h1>Thank You!</h1>
                <div>Thank you for your great generosity! We, at Nurture, greatly appreciate your donation, and your
                    sacrifice.</div>
                <div>Click <a href="/">here</a> to go back.</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-content">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Health Calculators</a></li>
                <li><a href="/">Health Tips</a></li>
                <li><a href="/">FAQ</a></li>
            </ul>
            <img src="/static/images/leaves.png" alt="" class="leaves">
            <img src="/static/images/logo.png" alt="" class="nurture" onclick="window.location.href='/'">
        </div>
    </div>

</body>
<script>
    setTimeout(() => {
        window.location.href='/feedback';
    }, 10000);
</script>
<script src="/static/javascript/index.js"></script>

</html>
